/* Below only pageIndex 0: */
/* body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-size: large;
  user-select: none;
  background-color: rgb(17, 19, 39);
} */

/* Below only pageIndex 1: */
body.alteredBody {
  background-repeat: repeat;
  background-position: unset;
  /*73, 57, 152*/
  background-image: linear-gradient(
      rgba(73, 57, 152, 0.8),
      rgba(73, 57, 152, 0.8)
    ),
    url("https://user-images.githubusercontent.com/284717/204387849-8f1d05a5-5729-4a2f-90f4-b4b18e1057bd.jpg");
  background-size: cover;
}

@media (max-width: 900px) {
  body.alteredBody {
    background-size: 1500px;
  }
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: #ddb43f;
}

.ye {
  color: #ddb43f;
  font-size: xxx-large;
}

a.textLink.smallLink {
  font-size: 12px;
}

a.textLink {
  color: #e6be4b;
  text-decoration: none;
  font-family: Roboto;
  font-size: 24px;
}

.superString {
  font-size: 40px;
}

.subString {
  font-family: Roboto;
  font-size: x-large;
}
